/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    font-family: sans-serif;
}
/* =============Header============== */
.header-upper{
    background-color: #316dc3;
    margin-top: 5px;
    box-sizing: border-box;
    padding: 5px 40px;
}

.left button{
    font-size: 11px;
    background-color: #f5f5f5;
    color: #427900;
}

.right a{
    width: 37px;
    height: 32px;
    color: #f5f5f5;
}

.right, .left, .moto{
    margin-top: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.donors{
    width: 72px;
}

.donate{
    width: 85px;
}

.results{
    width: 87px;
}
.moto{
    font-size: 14px;
    color:#fff;
}

.header-lower{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.header-lower .left{
    display: flex;
    justify-content: flex-end;
}

.active{
    background-color:  #316dc3;
    border: 1px solid #316dc3;
    border-radius: 30px;
}

.right img{
    width: 190px;
    height: 52px;
}

.left ul a{
    text-decoration: none;
    color: #333333;
}

.left ul a:hover{
    background-color:  #316dc3;
    border: 1px solid #316dc3;
    border-radius: 30px;
}

.dropdown-menu a {
    padding: 7px 25px 7px 22px;
    color: #666;
    font-weight: 600;
    font-size: 12px;
    font-weight: 300;
}




/* ===============Footer================== */
.footer{
    margin-top: 30px;
    color: #666;
    background-color: #25272e;
    padding: 70px 10px 40px;

}
.contacts{
    margin-right: 20px;
}

.footer p{
    font-size: 14px;
    line-height: 1em;
}

hr{
    color:#f5f5f5;
}

.socials{
    width: 20%;
    display: flex;
}
.socials a{
    display: block;
    width: 40px;
    padding: 5px;
    margin: 5px 7px 0 0;
    color: white;
    background: blue;
    border-radius: 50%;
    margin-right: 10px;
}

.footer h5{
    color: #f7f8fa;
}


/* ===============Main=================== */


.carousel-item img{
    width:1000px;
    height: 500px;
}

.news{
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    padding-top: 5px;   
    background-color: cornflowerblue;
    color: white;
}

.news .green{
    color:#427900;

}

.intro{
    margin:  20px 120px;
    padding: 30px;
}

 h1{
    font-size: 27px;
    text-align: center;
}

 .blue{
color: #316dc3;
font-size: 32px;
font-family: serif;
font-weight: bold;
}

.intro .green{
    color: #427900;
}

.intro img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.intro p{
    font-size: 14px;
    font-family: sans-serif;
    line-height: 1.5em;
    word-spacing: 5px;
    text-align: justify;
    color: #666;

}

.estimation{
    background-color: blue;
}

.justgreen{
    color: #00ff00;
    font-size: 18px;
}

.secondGreen{
    color: #00ff00;
    font-size: 32px;
    font-family: serif;
    font-weight: bold;
}

.estimation img{
    height: 40px;
    width: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.estimation h2{
    font-size: 48px;
    text-align: center;
    color: #fff;
}

.estimation h5{
    font-size: 14px;
    text-align: center;
    color: #fff;
}

div .alignment{
    width: 260px;
    height: 145px;
    margin: 30px auto;
    padding: 5px 5px;
}

.ourwork{
    margin:  20px 120px;
    padding: 30px;
}

.ourwork img{
    display: block;
    margin-left: auto;
    margin-right: auto   
}

.services{
    margin: 40px 30px;
    box-sizing: border-box;
    
}

div .content-center{
    height: 200px;
    padding: 40px 0;
    margin: 20px 0px;
}

.card{
    width: 350px;
    height: 170px;
    margin:5px 20px;
}

.card img{
    width: 70px;
    height: 70px;
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto
}

.card h4{
    font-size: 20px;
    font-family: serif;
    color: #316DC3;
    text-align: center; 
}

.box-shadow11 {
    -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.16);
}
.upcoming-projects{
    margin: 15px 0px;
}

.upcoming-projects img{
    width: 32px;
    height: 32px;
    margin: 15px 10px;
}

.upcoming-projects h3{
    font-size: 24px;
    color: #316DC3;
    margin: 0 0 30px;
    font-family: serif;
    font-weight: bold;
    padding: 0px 0px 10px;
    letter-spacing: 1px;
}

.upcoming-projects h4{
    font-size: 15px;
    color: #316DC3;
    margin: 20px 10px;
}

.upcoming-projects .flex-like{
    width: 350px;
    height: 70px;
    border: 1px solid #eee;
    display: flex;
    margin: 10px 5px;
    background-color: #f7f8fa;
    
}

.upcoming-projects p{
    font-size: 14px;
    font-family: sans-serif;
    text-align: left;
    line-height: 1.3em;
    word-spacing: 0.3em;
    word-break: keep-all;
}


.size{
    display: block;
    margin: 0 auto;
}

.images{
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.images img{
    height: 150px;
    width: 225px;
    padding: 2px;

}